/* FUNDO */
.pagina {
  min-height: 100vh;
  background: linear-gradient(to bottom, #222831 0%, #393e46 100%);
  display: flex;
  flex-direction: column;
}

/* HEADER */
.header {
  position: relative;
  height: 40vh;
}

/* TÍTULO CENTRALIZADO PERFEITO */
.titulo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.titulo h1 {
  margin: 0;
  font-size: 90px;
  color: #00adb5;
}

.titulo p {
  margin-top: 5px;
  font-size: 50px;
  color: #00adb5;
  padding: 5px;
  line-height: 1.1;
}

/* BOTÃO ADMIN (CANTO SUPERIOR DIREITO) */
.entrarAdm {
  position: absolute;
  top: 20px;
  right: 40px;
}

.btnAdm {
  padding: 10px 20px;
  border: none;
  border-radius: 25px;
  background-color: #00adb5;
  color: black;
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
  transition: 0.3s;
}

.btnAdm:hover {
  background-color: #009da5;
}

/* CONTEÚDO */
.conteudo {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 10px;
}

/* CARD LOGIN */
.card {
  width: 350px;
  padding: 30px;
  background: #222831;
  border: 1px solid rgba(238, 238, 238, 0.3);
  border-radius: 15px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}

.card h2 {
  color: #eeeeee;
  text-align: center;
  margin: 0 0 20px 0;
}

/* FORM */
.card form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.card label {
  display: flex;
  flex-direction: column;
  width: 100%;
  color: #eeeeee;
}

.card label span {
  margin-bottom: 5px;
}

/* INPUTS */
.card input {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
}

/* LINK CADASTRAR */
.card a {
  width: 100%;
  text-align: left;
  font-size: 12px;
  color: #eeeeee;
  text-decoration: none;
  margin-top: -4px;
}

.linkVoltar {
  display: block;
  text-align: center !important;
  margin-top: 12px !important;
}

.card a:hover {
  text-decoration: underline;
}

/* BOTÃO ENTRAR */
.btnEntrar {
  width: 180px;
  align-self: center;
  margin-top: 10px;
  padding: 12px;
  border: none;
  border-radius: 10px;
  background-color: #00adb5;
  color: #222831;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.btnEntrar:hover {
  background-color: #00b3bb;
}

.btnEntrar:disabled {
  opacity: 0.7;
  cursor: not-allowed;
}

@media (max-width: 960px) {
  .entrarAdm {
    position: static;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }

  .btnAdm {
    width: 80%;
  }

  .conteudo {
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
  }

  .header {
    height: auto;
    padding-bottom: 30px;
  }

  .titulo {
    position: static;
    transform: none;
    margin-top: 10px;
  }

  .titulo h1 {
    font-size: 60px;
  }

  .titulo p {
    font-size: 32px;
  }

  .card {
    width: 90%;
    max-width: 350px;
  }

  .btnEntrar {
    width: 100%;
  }
}
